.navbar {
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
}

.noentry {
    cursor: not-allowed;
}

.logo {
    margin-right: 15px;
}

.company {
    font-size: 1.4em;
    font-weight: 700;
}

.navLeft {
    display: flex;
}

.navList {
    display: flex;
}

.navList a {
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    border: 2px solid #eee;
    font-weight: 800;
}

.navList a:hover {
    border: 2px solid transparent;
}


@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        padding: 10px 0 0;
        width: 100%;
        justify-content: initial;
    }
    .navList{
        justify-content: center;
    }
    .navList a {
        margin: 0 5px;
        padding: 5px 25px;
    }
    .navLeft{
        justify-content: center;
    }
    
}